{% extends "base.html" %}

{% block content %}
<h1>
    <h1>
        <table class="table table-hover">
            <tr>
                <th>Order ID</th>
                <th>Created_time</th>
                <th>Product name</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
            {% for order in orders %}
            {% for item in order.order_lines %}
            <tr>
                <td> {{ order.order_id }}</td>
                <td> {{ order.created_time }}</td>
                <td> {{ item.good.name }}</td>
                <td> {{ item.good.price }}</td>
                {% endfor %}
                <td> {{ item|sum(attribute='price') }} </td>
            </tr>
            {% endfor %}
        </table>
    </h1>
</h1>
{% endblock %}